# Supabase Configuration
# You will get these values from the Supabase Dashboard -> Project Settings -> API / Database

# FastAPI (Backend) env vars
SUPABASE_URL="https://qhxcljmcaudtaogyydpf.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFoeGNsam1jYXVkdGFvZ3l5ZHBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3MTU1MDQsImV4cCI6MjA5NjI5MTUwNH0.HDGVNjGFLEYxhYTXPUzaJW4uqw0KWeZuhWxYbYs1OXc"
DATABASE_URL="postgresql://postgres.qhxcljmcaudtaogyydpf:P6zxX7TfVUgrhWm6@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"

# Optional: Add other environment variables here later
